@charset "UTF-8";
body {
  background-color: rgb(234, 234, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  padding-top: 100px;
  background-color: #0300f8;
}
footer .container-fluid {
  display: block;
}
footer .container-fluid .Copyright {
  color: white;
  padding-left: 28px;
  padding-top: 20px;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
}
footer .container-fluid .opinión {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 76px;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
}
footer .container-fluid .formulario {
  display: flex;
  justify-content: flex-end;
  padding-right: 36px;
}
footer .container-fluid .quienessomos {
  padding-left: 28px;
  padding-top: 20px;
}
footer .container-fluid .quienessomos a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
}
footer .container-fluid .negocio {
  padding-left: 28px;
  padding-bottom: 20px;
}
footer .container-fluid .negocio a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
}
footer .container-fluid .redessociales {
  padding-left: 28px;
  padding-bottom: 20px;
  color: white;
}
footer .container-fluid .redessociales p {
  font-size: 20px;
  font-family: "Libre Caslon Text", serif;
}

header {
  background-color: #03007f;
}
header .navbar .container-xxl {
  background-color: #03007f;
}
header .navbar .container-xxl .navbar-brand {
  color: white;
  font-size: larger;
  font-family: "Libre Caslon Text", serif;
}
header .navbar .container-xxl .fa-solid {
  color: white;
}
header .navbar .container-xxl .offcanvas {
  background-color: #2000e8;
}
header .navbar .container-xxl .offcanvas .offcanvas-title {
  color: white;
}
header .navbar .container-xxl .offcanvas .btn-close {
  background-color: white;
}
header .navbar .container-xxl .nav-item .nav-link {
  color: white;
}

.titulo1 {
  padding-top: 160px;
  font-family: "Libre Caslon Text", serif;
  padding-left: 58px;
  color: #0300f8;
}

.contenedorpadre .contenedor {
  padding-left: 66px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedorpadre .contenedor .menu {
  padding-top: 60px;
  padding-bottom: 50px;
  font-family: "Libre Caslon Text", serif;
  color: #0300f8;
}
.contenedorpadre .contenedor .imagen {
  width: 300px;
}
.contenedorpadre .contenedor .desc {
  width: 300px;
  height: 100px;
  background-color: #0300f8;
  color: white;
  font-family: "Libre Caslon Text", serif;
}

.contenedorpadre2 .contenedor2 {
  padding-left: 66px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedorpadre2 .contenedor2 .imagen2 {
  width: 300px;
}
.contenedorpadre2 .contenedor2 .desc2 {
  width: 300px;
  height: 100px;
  background-color: #0300f8;
  color: white;
  font-family: "Libre Caslon Text", serif;
}

.tituloprimero {
  color: #0300f8;
  font-family: "Libre Caslon Text", serif;
  padding-top: 52px;
  padding-bottom: 52px;
  display: flex;
  justify-content: center;
}

.container-sm {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 34px;
}
.container-sm .imagen {
  box-shadow: 5cap;
}
.container-sm .boton {
  background-color: #0300f8;
  width: 350px;
  height: 59px;
  text-align: center;
  padding-top: 10px;
}
.container-sm .boton .boton2 {
  text-decoration: none;
  list-style-type: none;
  color: #0300f8;
  background-color: white;
  border-radius: 100px;
  font-family: "Libre Caslon Text", serif;
  font-size: 20px;
  padding: 6px;
}

section .padre {
  padding-left: 79px;
}
section .padre h1 {
  display: flex;
  justify-content: flex-start;
  padding-left: 52px;
  padding-bottom: 34px;
  font-family: "Libre Caslon Text", serif;
  color: #0300f8;
  padding-top: 30px;
}
section .padre a {
  text-decoration: none;
  list-style-type: none;
  width: 250px;
  height: 150px;
  background-color: #0300f8;
  color: white;
  border-radius: 150px;
  font-size: 20px;
  padding: 10px;
  font-family: "Libre Caslon Text", serif;
}
section .padre .favoritos {
  text-decoration: none;
  list-style-type: none;
  width: 250px;
  height: 150px;
  background-color: white;
  color: #0300f8;
  border-radius: 150px;
  font-size: 20px;
  padding: 10px;
  font-family: "Libre Caslon Text", serif;
}

.comidas {
  display: flex;
  justify-content: center;
}
.comidas .Menu {
  color: #0300f8;
  font-family: "Libre Caslon Text", serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  display: flex;
}
.container .row .col {
  padding-left: 30px;
  padding-bottom: 46px;
}
.container .row .col h4 {
  color: white;
  background-color: #0300f8;
  height: 90px;
  font-family: "Libre Caslon Text", serif;
}

.primero {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.primero .firsttitle {
  color: #03007f;
  font-family: "Libre Caslon Text", serif;
}

.secondtitle {
  display: flex;
  padding-left: 40px;
  padding-top: 100px;
}
.secondtitle .titulosegundo {
  color: #03007f;
  font-family: "Libre Caslon Text", serif;
}

.padreprincipal {
  display: block;
  padding-left: 50px;
  padding-top: 75px;
}
.padreprincipal .dia {
  color: #03007f;
  background-color: #7775ff;
  width: 500px;
  border-radius: 100px;
  font-family: "Libre Caslon Text", serif;
  padding-left: 10px;
}

.quiencontiene {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
}
.quiencontiene .btn-float {
  position: fixed;
  background-color: #9d9bff;
  padding-top: 15px;
  width: 200px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}
.quiencontiene .btn-float .elemento {
  color: #03007f;
  padding-bottom: 20px;
  list-style-type: none;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
