header {
    background-color: #03007f;
    .navbar {
        .container-xxl {
            background-color: #03007f;
            .navbar-brand {
                color: white;
                font-size: larger;
                font-family: "Libre Caslon Text", serif;
            }
            .fa-solid {
                color: white;
            }
            .offcanvas {
                background-color: #2000e8;
                .offcanvas-title {
                    color: white;
                }
                .btn-close {
                    background-color: white;
                }
            }
            .nav-item {
                .nav-link {
                    color: white;
                }
            }
        }

    }
}