section {
    .padre {
        padding-left: 79px;
        h1 {
            display: flex;
            justify-content: flex-start;
            padding-left: 52px;
            padding-bottom: 34px;
            font-family: "Libre Caslon Text", serif;
            color: #0300f8;
            padding-top: 30px;
        }
        a {
            text-decoration: none;
            list-style-type: none;
            width: 250px;
            height: 150px;
            background-color: #0300f8;
            color: white;
            border-radius: 150px;
            font-size: 20px;
            padding: 10px;
            font-family: "Libre Caslon Text", serif;
        }
        .favoritos {
            text-decoration: none;
            list-style-type: none;
            width: 250px;
            height: 150px;
            background-color: white;
            color: #0300f8;
            border-radius: 150px;
            font-size: 20px;
            padding: 10px;
            font-family: "Libre Caslon Text", serif;
        }
    }
}

.comidas {
    display: flex;
    justify-content: center;
    .Menu {
        color: #0300f8;
        font-family: "Libre Caslon Text", serif;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container {
    display: flex;
    .row {
        .col {
            padding-left: 30px;
            padding-bottom: 46px;
            h4 {
                color: white;
                background-color: #0300f8;
                height: 90px;   
                font-family: "Libre Caslon Text", serif;
            }
            }
        }
    }
