.tituloprimero {
    color: #0300f8;
    font-family: "Libre Caslon Text", serif;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    justify-content: center;
}


.container-sm {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 34px;
    .imagen {
        box-shadow: 5cap;
    }
    .boton {
        background-color: #0300f8;
        width: 350px;
        height: 59px;
        text-align: center;
        padding-top: 10px;
        .boton2 {
            text-decoration: none;
            list-style-type: none;
            color: #0300f8;
            background-color: white;
            border-radius: 100px;
            font-family: "Libre Caslon Text", serif;
            font-size: 20px;
            padding: 6px;  
        }
    }
}
