.titulo1 {
    padding-top: 160px;
    font-family: "Libre Caslon Text", serif;
    padding-left: 58px;
}


.container-sm {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 34px;
    .imagen {
        box-shadow: 5cap;
    }
    .boton {
        background-color: #0300f8;
        width: 350px;
        height: 59px;
        text-align: center;
        padding-top: 10px;
        .boton2 {
            text-decoration: none;
            list-style-type: none;
            color: #0300f8;
            background-color: white;
            border-radius: 100px;
            font-family: "Libre Caslon Text", serif;
            font-size: 20px;
            padding: 6px;  
        }
    }
}

section {
    .padre {
        padding-left: 79px;
        h1 {
            display: flex;
            justify-content: flex-start;
            padding-left: 52px;
            padding-bottom: 34px;
            font-family: "Libre Caslon Text", serif;
            color: #0300f8;
            padding-top: 30px;
        }
        a {
            text-decoration: none;
            list-style-type: none;
            width: 250px;
            height: 150px;
            background-color: #0300f8;
            color: white;
            border-radius: 150px;
            font-size: 20px;
            padding: 10px;
            font-family: "Libre Caslon Text", serif;
        }
        .favoritos {
            text-decoration: none;
            list-style-type: none;
            width: 250px;
            height: 150px;
            background-color: white;
            color: #0300f8;
            border-radius: 150px;
            font-size: 20px;
            padding: 10px;
            font-family: "Libre Caslon Text", serif;
        }
    }
}

.contenedorpadre {
    .contenedor {
        padding-left: 66px;
        padding-top: 30px;
        padding-bottom: 30px;
        .menu {
            padding-top: 60px;
            padding-bottom: 50px;
            font-family: "Libre Caslon Text", serif;
            color: #0300f8;
        }
        .imagen {
            width: 300px;
        }
        .desc {
            width: 300px;
            height: 100px;
            background-color: #0300f8;
            color: white;
            font-family: "Libre Caslon Text", serif;
        }
    }
}

.contenedorpadre2 {
    .contenedor2 {
        padding-left: 66px;
        padding-top: 30px;
        padding-bottom: 30px;
        .imagen2 {
            width: 300px;
        }
        .desc2 {
            width: 300px;
            height: 100px;
            background-color: #0300f8;
            color: white;
            font-family: "Libre Caslon Text", serif;
        }
    }
}

footer {
    padding-top: 100px;
    background-color: #0300f8;
    .container-fluid {
        display: block;
        .Copyright {
            color: white;
            padding-left: 28px;
            padding-top: 20px;
            font-family: "Libre Caslon Text", serif;
            font-size: 20px;
        }
        .opinión {
            color: white;
            display: flex;
            justify-content: flex-end;
            padding-right: 76px;
            font-family: "Libre Caslon Text", serif;
            font-size: 20px;
        }
        .formulario {
            display: flex;
            justify-content: flex-end;
            padding-right: 36px;
        }
        .quienessomos {
            a {
                text-decoration: none;
                list-style-type: none;
                color: white;
                font-family: "Libre Caslon Text", serif;
                font-size: 20px;
            }
            padding-left: 28px;
            padding-top: 20px;
        }
        .negocio {
            a {
                text-decoration: none;
                list-style-type: none;
                color: white;
                font-family: "Libre Caslon Text", serif;
                font-size: 20px;
            }
            padding-left: 28px;
            padding-bottom: 20px;
        }
        .redessociales {
            p {
                font-size: 20px;
                font-family: "Libre Caslon Text", serif;
            }
            padding-left: 28px;
            padding-bottom: 20px;
            color: white;
        }
    }

}
