.primero {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .firsttitle {
        color: #03007f;
        font-family: "Libre Caslon Text", serif;
    }
}

.secondtitle {
    display: flex;
    padding-left: 40px;
    padding-top: 100px;
    .titulosegundo {
        color: #03007f;
        font-family: "Libre Caslon Text", serif;
    }
}

.padreprincipal {
    display: block;
    padding-left: 50px;
    padding-top: 75px;
    .dia {
        color: #03007f;
        background-color: #7775ff;
        width: 500px;
        border-radius: 100px;
        font-family: "Libre Caslon Text", serif;
        padding-left: 10px;
    }
}

.quiencontiene {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
    .btn-float {
        position: fixed;
        background-color: #9d9bff;
        padding-top: 15px;
        width: 200px;
        height: 60px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        .elemento {
            color: #03007f;
            padding-bottom: 20px;
            list-style-type: none;
            text-decoration: none;
        }
    }
}




